:root{
  --degradado-1:linear-gradient(135deg,rgba(255, 247, 0, 0.695) 60%,rgba(0, 0, 0, 0.809)) ;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
html{
  font-size: 62.5%;
}

body{
  display: grid;
  align-items: center;
  grid-template-areas:'header header header header header header'
  '. main main main main .'
  'footer footer footer footer footer footer' ;
}
#top-header{
  position: sticky;
  top: 0;
  grid-area: header;
  display: grid;
  align-items: center;
  grid-template-areas: '. logo-title nav-bar nav-bar nav-bar .';
  /* background-image: var(--degradado-1); */
  background-color: goldenrod;
  height: 8rem;
}
#logo-title{
  grid-area: logo-title;
  filter: drop-shadow( 0 0 5px black)
}
#nav-bar{
  grid-area: nav-bar;
  justify-self: center;
}
#logo-top-bar{
  width: 6.4rem;
  height: 6.4rem;
}
#main{
  grid-area: main;
  margin-top: 3rem;
}
#link-list{
  display: flex;
  list-style: none;
  font-size: 2rem;
}
#link-list>li{
  padding: 0 1rem;
}
#link-list>li:hover{
  transform:translateY(-5px);
  background-color: palegoldenrod;
  transition: 500ms;
}
#link-list>li>a{
  text-decoration: none;
  color: black;
}
#footer{
  grid-area: footer;
  background-color:goldenrod;
  height: 6.4rem;
}
@media screen and (max-width:400px){
  #top-header{
    grid-template-areas:'. . logo-title logo-title . .'
    'nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar';
    height: fit-content;
  }
  #nav-bar{
    justify-self: center;
  }
}