:root{
  --degradado-1:linear-gradient(135deg,rgba(255, 247, 0, 0.695) 60%,rgba(0, 0, 0, 0.809)) ;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
html{
  font-size: 62.5%;
}
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}
#top-bar{
  display: flex;
  height: 64px;
  flex-wrap: nowrap;
  justify-content: center;
  background-image: linear-gradient(45deg, rgb(196, 185, 32), rgba(71, 59, 19, 0.499));
  background-color: goldenrod;
}
#top-content{
  display: flex;
  min-width: 80%;
  max-width: 960px;
  justify-content: space-between;
  align-items: center;
  column-gap: 10rem;
  border: 1px solid orange;
}
#logo-title{
  filter: drop-shadow(0 0 3px rgb(36, 33, 13));
}
#logo-top-bar{
  width: 64px;
  height: 64px;
}
#nav-bar{
  height: fit-content;
}
#link-list{
  display: flex;
  list-style: none;
}
#link-list>li{
  padding: 1rem;
}
#link-list>li>a{
  text-decoration: none;
  text-transform:uppercase;
  color: black;
  font-size: 1.5rem;
}
#link-list>li>a:hover{
  color: white;
}
#main{
  margin-top:64px; 
  padding-top: 1rem;
}
#footer{
  display: flex;
  width: 100%;
  background-color: goldenrod;
  height: 64px;
}