:root{
  --degradado-1:linear-gradient(135deg,rgba(255, 247, 0, 0.695) 60%,rgba(0, 0, 0, 0.809)) ;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.titulo-principal {
  padding-left: 30px;
}

.caja {
  width: 940px;
  position: relative;
  margin: 0 auto;
}

/* nav {
  position: absolute;
  top: 110px;
  right: 0;
} */

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}
header{
  background-image: var(--degradado-1);
}
footer {
  background-image: var(--degradado-1);
  background-size: contain;
  width: 100%;
}
.copyright {
  color: #000000;
  font-size: 13px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.765);
  border-radius: 13px;
  width: fit-content;
  border: 1px solid black;
}
.grid{
  display: grid;
  justify-content: center;
  align-items: center;
}
.cols{
  grid-template-columns: repeat(4,1fr);
}
.rowx5{
  grid-template-rows: 2fr repeta(4,1fr);
}
.span-cols{
  grid-column-start: 1;
  grid-column-end: 5;
}
.col-gap{
  grid-column-gap: 20px;
}
.row-gap{
  grid-row-gap: 20px;
}
.jtfy-flex-end{
  justify-self: flex-end;
}
.jtfy-center{
  justify-self: center;
}
.jtfy-flex-start{
  justify-self: flex-start;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.padding-all-10{
  padding: 10px;
}
/*roboto
font-family: 'Roboto', sans-serif;
*/
.drop-shadow-img{
  background: url(./imagenes/logo2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  width: 100%;
  filter:drop-shadow(2px 2px 5px rgb(19, 7, 7));
  border: 1px solid black;
}
.flex-row-centered{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.centered{
  margin: 0 auto;
}
.inline-block{
  display: inline-block;
}
form{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  color:white;
  text-shadow: 2px 2px 5px #000000;
  background-image: linear-gradient(90deg, grey 75%,rgba(24, 20, 20, 0.682));
}
legend{
  margin: 0 auto;
  font-size: 22px;
  font-weight: bold;
}
form input{
  font-size: 16px;
}
form select{
  font-size: 16px;
}
#horario-dia-interes{
  min-height: 150px;
}
#submit-button{
  min-height: 50px;
  font-weight: bold;
}
.glow-passed{
  filter: drop-shadow( 0 0 10px green);
}
.glow-error{
  filter: drop-shadow( 0 0 10px red);
}
@media screen and ( max-width: 500px){
  .cols{
    grid-template-columns: 1fr;
  }
  .span-cols{
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .jtfy-flex-end{
    justify-self: center;
  }
  form input[type="date"]{
    display: block;
  }
  .flex-row-centered{
    flex-wrap: wrap;
  }
}